{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ doc_type + "s"}}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form action="{{ url_for('api.create_doc', doc_type=doc_type) }}" method="post" class="form-inline">
        {% for field in fields %}
            {% if field.get('type') == 'select' and field.get('options')%}
                <select class="form-control custom-select my-1 mr-sm-2">
                    <option>{{ field.get('display') }}</option>
                    {% for option in get_options(field.get('options')) %}
                        <option value="{{ option['id'] }}">{{ option['title'] }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <label for="{{ field.get('name') }}-field" class="sr-only">{{ field.get('display') }}</label>
                <input 
                    type="{{ field.get('type') }}"
                    name="{{ field.get('name') }}"
                    id="{{ field.get('name') }}-field"
                    placeholder="{{ field.get('display') }}"
                    class="form-control my-1 mr-sm-2"
                >
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary my-1">Create</button>
    </form>
    <p>
        {% if items %}
        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    {% for key in items[0].keys() if key != "id" %}
                        <td>{{ key | title }}</td>
                    {% endfor %}
                    <td align="right">Delete</td>
                </tr>
            </thead>
            <tbody>
                {% for i in items %}
                <tr>
                    <td><a href="{{ url_for('single.get_doc', doc_type=doc_type, doc_id=i['id']) }}">{{ i['id'] }}</a></td>
                    {% for key in i.keys() if key != "id" %}
                        <td>{{ i[key] }}</td>
                    {% endfor %}
                    <td><a href="{{ url_for('api.delete_doc', doc_type=doc_type, doc_id=i['id']) }}" class="float-right"><b>x</b></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </p>
{% endblock %}
