<a href="/{{ doc_type }}">Back to List</a>
<br>
{% if doc_type == "Product" %}
<form action="/{{ doc_type }}/{{ doc.id }}/move" method="post">
    Destination:<br>
    <select name="destination">
        {% for location in locations %}
            <option value="{{ location.id }}">{{ location.title }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Move">
</form>
<br>
{% endif %}

{% for key, value in doc.items() %}
  {% if key == "location" %}
    <p>{{ key | title }}:  <a href="/Location/{{ value.id }}">{{ value.title }}</a></p>
  {% else %}
    <p>{{ key | title }}: {{ value }}</p>
  {% endif %}
{% endfor %}
